@media(min-width:992px){
  //Все важные эффекты при наведении тут, дабы потом не бороться с ними в мобильной версии
  .btn{
    transition:all .2s ease;
    &:hover{
      color:#fff;
      box-shadow: 0px 29px 43px 0px rgba(0, 0, 0, 0.1);
    }
    &_small:hover{
      box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
    }
  }
  .file-link{
    transition:all .2s ease;
    &:before{
      filter:grayscale(1);
      transition:inherit;
    }
    &:hover{
      background-color:#fff;
      color:fade(#000,80%);
      box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
      &:before{
        filter:grayscale(0);
      }
    }
  }
  .header{
    &__menu{
      >li{
        >a{
          transition:all .2s ease;
        }
        &:hover>a{
          border-color:@orange;      
        }
      }
      li:hover>ul{
        display:block;
      }
      ul{
        li{
          &:after{
            transition:all .2s ease;
          }
          &:hover:after{
            opacity:1;
          }
        }
        a{
          transition:all .2s ease;
          &:hover{
            opacity:.8;
          }
        }
      }
    }
  }
  .services{
    &__icon{
      transition:all .2s ease;
    }
    &__link:hover &__icon{
      background-color:@orange;
      color:@brown;
    }
    &__link{
      &_blend{
        transition:all .2s ease;
        &:hover{
          opacity:1;
        }
      }
    }
    &__link_blend:hover &__icon{
      background:none;
      color:@orange;
    }
  }
  .employees{
    &__slide{
      transition:
        background-color .2s ease,
        box-shadow .2s ease;
      margin:30px 0 0;
      &:hover{
        margin:0;
        background-color:#fff;
        box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
      }
    }
    &__slide:hover &__position{
      display:none;
    }
    &__slide:hover &__btn{
      display:block;
    }
    &__arrow{
      transition:all .2s ease;
      &:hover{
        background-color:#dedfe3;
      }
    }
  }
  .breadcrumbs{
    a{
      transition:all .2s ease;
      &:hover{
        color:#000;
        border-color:@orange;
      }
    }
  }
  .sidebar__menu{
    a{
      transition:all .2s ease;
      &:hover{
        opacity:.7;
      }
    }
  }
  .post-card{
    transition:all .2s ease;
    &:hover{
      box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
      border-color:transparent;
    }
  }
  .price{
    &__field{
      transition:all .2s ease;
      &:hover{
        color:@orange;
        border-color:@orange;
      }
    }
  }
  .callback{
    &:hover &__input{
      border-color:currentColor;
    }
    &:hover &__btn{
      background-color:#fff;
      color:#535353;
    }
  }
}

@media(max-width:1199px){
	.wrapper{
		max-width:992px;
	}
  .header{
    &__topline{
      padding:15px 0;
    }
    &__midline{
      padding:20px 0;
    }
    &__worktime{
      display:none;
    }
  }
  .top-block{
    &__slide{
      padding:300px 0 150px;
    }
    &__dots{
      padding:0 ~"calc(50% - 481px)";
    }
  }
  /* .services{
    background-position:75% center;
  }
  .advantages{
    background-position:10% center;
  } */
  .employees{
    &__slider{
      padding:0 60px;
    }
    &__arrow{
      &_prev{
        left:-10px;
      }
      &_next{
        right:-10px;
      }
    }
  }
  .page{
    padding:300px 0 100px;
    &__content{
      padding:0 0 0 40px;
    }
  }
  .news{
    &__box{
      justify-content:center;
    }
  }
  .post-card{
    width:290px;
    padding:30px 20px;
    font-size:14px;
    &__title{
      font-size:16px;
    }
  }
  .simile{
    th{
      padding:30px 40px;
    }
    td{
      padding:12px 40px 12px;
    }
  }
  .view{
    &__text{
      margin:0 30px;
      font-size:16px;
    }
  }
}
@media(max-width:991px){
  .box{
    justify-content:center;
  }
  .header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    color:#000;
    background:none;
    &__topline{
      display:none;
    }
    &__phones{
      display:none;
    }
    &__info{
      display:none;
    }
    &__midline{
      padding:0;
    }
    &__midline-inner{
      box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
      background-color:#f2f2f2;
      border-radius:10px 10px 0 0;
      padding:0 25px 0 0;
      position:relative;
    }
    &__logo{
      display:none;
    }
    &__icon{
      display:inline-block;
    }
    &__menu-btn{
      display:inline-block;
    }
    &__search-btn{
      display:inline-block;
    }
    &__mobile-search{
      display:block;    
    }
    &__bottomline{
      background:none;
      border-radius:0 0 10px 10px;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      z-index:-1;
      opacity:0;
      pointer-events:none;
      transition:all .2s ease;
      &.open{
        top:100%;
        opacity:1;
        pointer-events:all;
      }
    }
    &__menu{
      background-color:#f5f5f5;
      border-radius:0 0 10px 10px;
      border:none;
      display:block;
      padding:.5em 0;
      top:-100vh;
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.09);
      border-radius:0 0 10px 0;
      width:380px;
      text-align:left;
      max-height:~"calc(100vh - 76px)";
      overflow:auto;
      >li{
        border:none;
        >a{
          border:none;
          padding:10px 20px;
        }
        &.has-children{
          padding-right:50px;
          &:after{
            content:'\f107';
            font:normal normal 18px/1 fontAwesome;
            display:inline-block;
            width:50px;
            text-align:center;
            position:absolute;
            right:0;
            top:0;
            padding:15px 0;
            transition:all .2s ease;            
          }
          &.open:after{
            transform:rotate(180deg);
            color:@orange;
          }
        }
      }
      ul{
        width:auto;
        background:none;
        position:static;
        box-shadow:none;
        margin:0 0 0 20px;
        padding:0;
        border-left:1px solid @orange;
        >li{
          &.has-children{
            &:after{
              content:'\f107';
              font:normal normal 18px/1 fontAwesome;
              display:inline-block;
              width:50px;
              text-align:center;
              position:absolute;
              right:-50px;
              top:0;
              padding:15px 0;
              opacity:1;
            }
            &.open:after{
              transform:rotate(180deg);
              color:@orange;
            }
          }
        }
        a{
          padding:10px 20px;
        }
        ul{
          padding:0;
        }
      }
    }
    &_trans &__menu{
      border-radius:0 0 10px 10px;
    }
  }
	.top-block{
    &__slide{
      padding:190px 0 120px;
    }
    &__dots{
      padding:0 15px;
      bottom:40px;
    }
  }
  .about{
    padding:45px 0;
    &__wrapper{
      display:block;
    }
    &__head{
      width:auto;
      text-align:center;
      margin:0 0 30px;
    }
    &__body{
      width:auto;
      padding:0;
    }
  }
  .services{
    background-image:none;
    text-align:center;
    padding:45px 0;
    &__box{
      margin:0 auto;
    }
    &__link{
      width:120px;
      flex:0 1 auto;
      margin:0 20px 50px;
    }
  }
  .advantages{
    text-align:center;
    padding:45px 0;
    background-image:none;
    &__box{
      margin:0 auto;
      justify-content:space-between;
    }
    &__item{
      text-align:left;
    }
  }
  .employees{
    padding:45px 0;
    &__slide{
      padding:28px 18px 26px;
    }
  }
  .booking{
    text-align:center;
    padding:45px 0;
    &__form{
      display:block;
      max-width:260px;
      margin:0 auto 30px;
      input{
        display:block;
        width:100%;
        margin:0 0 12px;
      }
    }
    &__btn{
      display:block;
      width:100%;
    }
  }
  .contacts{
    padding:0;
    &__text{
      margin:0;
      width:auto;
    }
    &__map{
      position:static;
      height:350px;
    }
  }
  .page{
    padding:140px 0 50px;
    &__inner{
      display:block;
    }
    &__sidebar{
      display:none;
    }
    &__content{
      padding:0;
      width:auto;
    }
  }
  .file-link{
    background-color:#fff;
    color:fade(#000,80%);
    box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
  }
  .gallery{
    justify-content:center;
  }
  .tour{
    display:block;
    width:100%;
    height:600vw * 100/768;
  }
  .footer{
    padding:45px 0;
  }
}
@media(max-width:767px){
  h1{
    margin:0 0 1em;
  }
  .header{
    &__midline-inner{
      padding:0;
    }
    &__icon{
      width:80px;
      flex:0 0 auto;
      margin:0 auto 0 0;
    }
    &__btn{
      min-width:0;
      margin:0 auto;
    }
    &__menu-btn{
      order:2;
      border-radius:0 10px 0 0;
      margin:0;
    }
    &__search-btn{
      order:1;
      line-height:76px;
      margin:0;
      width:75px;
      padding:0;
      text-align:center;
    }
    &__menu{
      margin:0 0 0 auto;
      border-radius:0 0 0 10px;
    }
  }
	.top-block{
    text-align:center;
    &__content{
      max-width:100%;
    }
  }
  .employees{
    &__slider{
      max-width:290px;
      margin:0 auto;
      padding:0 40px;
    }
  }
  .reviews{
    &__box{
      padding:0;
    }
  }
  .contacts{
    &__text{
      padding:30px 15px;
    }
  }
  .text-columns{
    display:block;
    &__item{
      width:auto;
    }
    br{
      display:none;
    }
  }
  .text-block{
    br{
      display:none;
    }
  }
  .small-map{
    width:auto;
  }
  .simile{
    font-size:16px;
    th{
      font-size:120%;
      padding:15px;
    }
    td{
      padding:5px 15px;
    }
  }
  .view{
    &__head{
      padding:15px;
      justify-content:space-between;
      flex-wrap:wrap;
    }
    &__text{
      display:none;
    }
    &__arrow{
      &.prev{
        margin:0 8px 0 0;
      }
    }
  }
  .twentytwenty{
    &-horizontal &-handle{
      &:before,
      &:after{
        display:none;
      }
    }
    &-container:before{
      display:none;
    }
  }
  .price{
    padding:15px;
    font-size:16px;
    &__key,
    &__value{
      transform:translateY(5px);
    }
  }
  .footer{
    padding:25px 0;
    &__wrapper{
      display:block;
    }
    &__main{
      width:auto;
      margin:0 0 20px;
    }
    &__nav,
    &__contacts{
      display:none;
    }
    &__info{
      width:auto;
    }
    &__payment{
      text-align:center;
    }
    &__policy{
      text-align:center;
      max-width:290px;
      margin:0 auto 2em;
      a{
        display:block;
        margin:0 0 1em;
      }
    }
    &__author{
      text-align:center;
    }
  }
}
@media(max-width:480px){
  h1{
    font-size:30px;
  }
  h2{
    font-size:24px;
  }
  h3{
    font-size:21px;
  }
  .header{
    &__midline{
      .wrapper{
        padding:0;
      }
      &-inner{
        border-radius:0;
      }
    }
    &__menu-btn{
      border-radius:0;
    }
    &__btn{
      display:none;
    }
    &__bottomline{
      .wrapper{
        padding:0;
      }
    }
    &__menu{
      border-radius:0;
      width:auto;
    }
    &_trans &__menu{
      border-radius:0;
    }
    &__mobile-search{
      border-radius:0;
    }
  }
  .top-block{
    &__title{
      font-size:32px;
    }
  }
  .services{
    &__box{
      margin:0 -15px;
    }
    &__link{
      margin:0 15px 30px;
    }
  }
	.advantages{
    &__box{
      display:block;
    }
    &__item{
      width:auto;
      margin:0 0 30px;
      &:nth-last-child(-n+2){
        margin:0 0 30px;
      }
    }
  }
  .simile{
    width:auto;
    margin:0 -15px;
    font-size:14px;
    th{
      padding:10px;
      font-size:inherit;
    }
    td{
      padding:5px 10px;
    }
  }
  .price{
    margin:0 -15px;
    font-size:14px;
  }
}