html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
:before,
:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*для IE10*/
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal normal 18px/1.2 'Rubik';
  letter-spacing: -0.015em;
}
header,
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
a,
input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
a img {
  /*для IE10*/
  border: none;
}
p {
  margin: 0 0 1.4em;
}
p:last-child {
  margin: 0;
}
em {
  font-style: inherit;
  color: #9c9b9b;
}
:focus {
  outline: none;
}
:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*элементы форм*/
/* 
select{
	appearance: none;
	padding: 10.5px 40px 10.5px 20px;
	background:url(../img/icons/angle.svg) no-repeat right 19px center/11px auto;
	&::-ms-expand{
		display:none;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder{color:gray;}
::-moz-placeholder{color:gray;}
:-ms-input-placeholder{color:gray;}

*/
[type=text],
[type=email],
[type=tel],
[type=url],
[type=password],
textarea {
  line-height: 1;
  border: 2px solid #c4c4c4;
  padding: 11px 20px;
  letter-spacing: -0.015em;
  background-color: #fff;
}
[type=text]:focus,
[type=email]:focus,
[type=tel]:focus,
[type=url]:focus,
[type=password]:focus,
textarea:focus {
  border-color: #f8aa55;
}
[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
  display: none;
}
/*кнопки*/
button,
[type="submit"],
[type="reset"] {
  cursor: pointer;
}
.btn {
  display: inline-block;
  color: #965713;
  font: normal normal 16px/48px 'Rubik';
  padding: 0 1.5em;
  min-width: 219px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f8aa55;
  border: none;
  border-radius: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn_gray {
  background-color: #dedfe3;
  color: #000;
}
.btn_small {
  font-size: 13px;
  line-height: 37px;
  min-width: 0;
}
.btn_block {
  display: block;
  width: 100%;
  padding: 0;
}
/*заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
}
h2 {
  font-size: 30.5px;
  font-weight: 400;
  letter-spacing: -0.0167em;
}
h3 {
  font-size: 16px;
  line-height: 1.125;
  font-weight: 600;
}
/*списки*/
/*таблицы*/
/*контейнеры*/
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
/*ШАПКА*/
.lang {
  display: inline-block;
  position: relative;
}
.lang__title {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lang__title:before {
  content: '\e903 ';
  font-family: icomoon;
  font-size: 121.4%;
  margin: 0 7px 0 0;
  vertical-align: -2px;
}
.lang__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  width: 147px;
  padding: 14px 25px;
  color: #202020;
}
.lang__list img {
  width: 21px;
  -webkit-filter: grayscale(0.95);
          filter: grayscale(0.95);
  vertical-align: middle;
  margin: 0 3px 0 0;
}
.lang__list > li {
  margin: 0 0 6px;
}
.lang__list > li.active img {
  -webkit-filter: none;
          filter: none;
}
.search {
  width: 233px;
  position: relative;
}
.search:after {
  content: '\f002';
  font: normal normal 11px/1 fontAwesome;
  opacity: .5;
  position: absolute;
  right: 13px;
  top: calc(50% - .5em);
}
.search__input {
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7.5px 36px 7.5px 14px;
  display: block;
  width: 100%;
}
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
}
.header {
  position: relative;
  z-index: 5;
  background-color: #282828;
  color: #fff;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0;
}
.header_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
.header__topline {
  padding: 32px 0 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header__topline-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  margin: 0 auto 0 0;
}
.header__address {
  margin: 0 30px;
}
.header__lang {
  margin: 3px 0 0 30px;
}
.header__midline {
  padding: 36px 0 38px;
}
.header__midline-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 145px;
  margin: 0 43px 0 0;
}
.header__icon,
.header__menu-btn,
.header__search-btn {
  display: none;
}
.header__worktime {
  padding: 0 0 0 34px;
  position: relative;
  margin: 0 41px 0 0;
}
.header__worktime:before {
  content: '\e902';
  font: normal normal 19px/1 'icomoon';
  position: absolute;
  left: 0;
  top: calc(50% - .5em);
  opacity: .5;
}
.header__phones {
  position: relative;
  padding: 0 0 0 35px;
  margin: 0 41px 0 0;
}
.header__phones:before {
  content: '\e90a';
  font: normal normal 20px/1 'icomoon';
  position: absolute;
  left: 0;
  top: calc(50% - .5em);
  opacity: .5;
}
.header__info {
  margin: 0 45px 0 auto;
  text-align: right;
}
.header__social {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__social > li {
  display: inline-block;
  margin: 0 0 0 6.5px;
}
.header__callback {
  text-decoration: underline;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}
.header__menu > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.header__menu > li:last-child {
  border-right: none;
}
.header__menu > li > a {
  display: block;
  width: 100%;
  padding: 1.8em .9em;
}
.header.fixed {
  position: fixed;
  color: #000;
}
.header.fixed .header__topline {
  display: none;
}
.header.fixed .header__midline {
  padding: 0;
}
.header.fixed .header__midline-inner {
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
  border-radius: 10px 10px 0 0;
  padding: 0 65px 0 0;
  position: relative;
}
.header.fixed .header__logo {
  display: none;
}
.header.fixed .header__icon {
  display: inline-block;
  width: 146px;
  height: 76px;
  padding: 20px 0;
}
.header.fixed .header__icon img {
  display: block;
  height: 36px;
  width: auto;
  margin: 0 auto;
}
.header__menu-btn {
  width: 77px;
  background-color: #9ba5aa;
  color: #fff;
  font: normal normal 15px/76px 'icomoon';
  text-align: center;
  cursor: pointer;
  margin: 0 auto 0 0;
}
.header__menu-btn:before {
  content: '\e910';
}
.header__menu-btn.active {
  color: #f8aa55;
}
.header.fixed .header__menu-btn {
  display: inline-block;
}
.header.fixed .header__worktime {
  display: none;
}
.header.fixed .header__phones {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.header.fixed .header__phones:before {
  display: none;
}
.header.fixed .header__phones br {
  display: none;
}
.header.fixed .header__phones a {
  margin: 0 0 0 1.2em;
}
.header.fixed .header__info {
  display: none;
}
.header__search-btn {
  font: normal normal 19px/1 'fontAwesome';
  color: #9ba5aa;
  cursor: pointer;
  padding: 0 .5em;
  margin: 0 25px 0 22px;
}
.header__search-btn:before {
  content: '\f002';
}
.header__search-btn.active {
  color: #f8aa55;
  pointer-events: none;
}
.header.fixed .header__search-btn {
  display: inline-block;
}
.header__mobile-search {
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: 10px 30px;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
}
.header__mobile-search input {
  display: block;
  width: 100%;
  background: none;
  padding: 8px 0;
  border: none;
}
.header__mobile-search.open {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.header.fixed .header__mobile-search {
  display: block;
}
.header.fixed .header__bottomline {
  background: none;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.header.fixed .header__bottomline.open {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.header.fixed .header__menu {
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
}
.header.fixed .header__menu > li > a {
  padding: 1.1em .9em;
}
/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.top-block {
  color: #fff;
  position: relative;
}
.top-block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-block__slide {
  padding: 364px 0 161px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.top-block__slide:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.top-block__slide.slick-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: auto;
  min-height: 0;
}
.top-block__slide .wrapper {
  position: relative;
  z-index: 2;
}
.top-block__content {
  max-width: 480px;
}
.top-block__title {
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 .58em;
  padding: 0 0 0 5px;
}
.top-block__text {
  padding: 0 0 0 3px;
  margin: 0 0 3.1em;
}
.top-block__dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 84px;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 0 calc(50% - 555px);
}
.top-block__dots li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin: 0 21px 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.top-block__dots li.slick-active {
  border-color: #f8aa55;
}
.about {
  padding: 93px 0 94px;
}
.about__wrapper {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__head {
  width: 350px;
}
.about__btn {
  margin: 17px 0 0;
}
.about__body {
  width: 445px;
  padding: 3px 0 0;
}
.services {
  background: url(../img/dental-implants.jpg) no-repeat left 65% top 61%, #f5f5f5;
  padding: 95px 0 68px;
}
.services__wrapper {
  max-width: 950px;
}
.services__title {
  margin: 0 0 2em;
}
.services__box {
  margin: 0 0 0 -7px;
  max-width: 550px;
}
.services__link {
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 52px 57px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.services__link_blend {
  opacity: .5;
}
.services__icon {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 17px;
  color: #f8aa55;
  font-size: 35px;
  line-height: 90px;
}
.services__icon_dash {
  background-color: transparent;
  font-size: 42.2px;
  border: 2px dashed;
  line-height: 80px;
}
.advantages {
  padding: 94px 0 127px;
  background: url(../img/teeth.png) no-repeat right 67% top 80% / 411px auto;
}
.advantages__wrapper {
  max-width: 950px;
}
.advantages__title {
  margin: 0 0 2.6em;
}
.advantages__box {
  max-width: 445px;
  margin: 0 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px 0 0;
}
.advantages__item {
  width: calc(50% - 20px);
  margin: 0 0 53px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.advantages__item:nth-last-child(-n+2) {
  margin: 0;
}
.advantages__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__subtitle:before {
  content: '\e90b';
  font: normal normal 32px/1 'icomoon';
  color: #f8aa55;
  display: inline-block;
  margin: 0 15px 0 0;
}
.employees {
  background: url(../img/circles.svg) no-repeat center, #f5f5f5;
  padding: 95px 0 120px;
}
.employees__wrapper {
  max-width: 950px;
}
.employees__title {
  text-align: center;
  margin: 0 0 1.4em;
}
.employees__slider {
  margin: 0 0 24px;
}
.employees__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 40px;
}
.employees__slide {
  padding: 28px 28px 26px;
  text-align: center;
  position: relative;
}
.employees__slide.slick-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  height: auto;
}
.employees__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.employees__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.employees__subtitle {
  margin: 0 0 .6em;
}
.employees__position {
  font-size: 13px;
  opacity: .7;
}
.employees__btn {
  display: none;
  width: 154px;
  margin: 18px auto 0;
  position: relative;
  z-index: 2;
}
.employees__arrow {
  display: inline-block;
  width: 47px;
  height: 47px;
  border: 2px solid #dedfe3;
  border-radius: 50%;
  text-align: center;
  font-family: fontAwesome;
  font-size: 16px;
  line-height: 43px;
  position: absolute;
  z-index: 2;
  top: calc(50% - 23.5px);
  cursor: pointer;
}
.employees__arrow_prev {
  left: -86px;
}
.employees__arrow_prev:before {
  content: '\f104';
}
.employees__arrow_next {
  right: -86px;
}
.employees__arrow_next:before {
  content: '\f105';
}
.employees__footer {
  text-align: center;
}
.review-card {
  width: 445px;
  margin: 0 15px 59px;
}
.review-card__text {
  padding: 20px 15px 24px 36px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  margin: 0 0 30px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}
.review-card__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 18px;
  border-top: 21px solid #fff;
  border-right: 30px solid transparent;
}
.review-card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-card__pic {
  width: 49px;
  height: 49px;
  background: url(../img/icons/user.svg) no-repeat center 9px/41px auto, #dedfe3;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10px 0 0;
}
.review-card__pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.review-card__info {
  width: calc(100% - 59px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12.82px;
}
.review-card__info a {
  display: inline-block;
  border-bottom: 1px solid #f8aa55;
}
.review-card__title {
  margin: 0 0 4px;
}
.review-card__key {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 4px 0 0;
}
@supports ((-webkit-filter: drop-shadow(0 0 10px)) or (filter: drop-shadow(0 0 10px))) {
  .review-card__text {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-filter: drop-shadow(0 0 27px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 0 27px rgba(0, 0, 0, 0.1));
  }
}
.reviews {
  padding: 95px 0 120px;
}
.reviews__wrapper {
  max-width: 1010px;
  position: relative;
  z-index: 1;
}
.reviews__title {
  text-align: center;
  margin: 0 0 1.4em;
}
.reviews__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 30px;
}
.reviews__footer {
  text-align: center;
  margin: 5px 0 0;
}
.booking {
  background-color: #f5f5f5;
  padding: 95px 0 92px;
  position: relative;
}
.booking:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 241px;
  height: 758px;
  background: url(../img/bg.png) no-repeat left bottom / contain;
}
.booking__wrapper {
  max-width: 950px;
  position: relative;
}
.booking__title {
  margin: 0 0 1.6em;
}
.booking__title strong {
  font-weight: 600;
  display: block;
}
.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.booking__form input {
  margin: 0 25px 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.booking__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.contacts {
  position: relative;
  padding: 60px 0;
}
.contacts__map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts__text {
  position: relative;
  z-index: 2;
  background-color: #fff;
  width: 445px;
  margin-left: calc(50% + 15px);
  padding: 34px 65px 35px;
}
.contacts__text p {
  margin: 0 0 1em;
}
.contacts__text p:last-child {
  margin: 0;
}
[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
/*ПОДВАЛ*/
.footer {
  background-color: #282828;
  color: #fff;
  font-size: 14px;
  padding: 98px 0 93px;
  letter-spacing: -0.013em;
}
.footer__wrapper {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__main {
  width: 190px;
  margin: 2px 46px 0 0;
}
.footer__logo {
  width: 150px;
  margin: 0 0 2.1em;
}
.footer__nav {
  width: 210px;
  margin: 0 30px 0 0;
}
.footer__nav-title {
  margin: 0 0 1.1em;
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.57142857;
}
.footer__menu a {
  text-decoration: underline;
}
.footer__contacts {
  width: 160px;
  margin: 0 30px 0 0;
}
.footer__contacts-title {
  margin: 0 0 1.4em;
}
.footer__info {
  width: 211px;
  margin: 0 0 0 auto;
}
.footer__info-title {
  margin: 0 0 .8em;
}
.footer__callback {
  font-size: 13px;
  position: relative;
  margin: 0 0 19px;
}
.footer__callback:before {
  content: '\e909';
  font: normal normal 13px/1 'icomoon';
  display: inline-block;
  position: absolute;
  top: calc(50% - .5em);
  right: 15px;
}
.footer__callback input {
  display: block;
  width: 100%;
  background: none;
  padding: 7px 30px 7px 15px;
}
.footer__payment {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 0 12px;
}
.footer__payment i {
  vertical-align: middle;
}
.footer__payment .icon-apple-pay {
  font-size: 140%;
  margin: 0 0 0 5px;
}
.footer__policy {
  font-size: 13px;
  margin: 0 0 3.3em;
}
.footer__policy a {
  text-decoration: underline;
}
.footer__author {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.05em;
}
.footer__author i {
  color: #fff;
  margin: 0 2px;
  vertical-align: text-bottom;
}
.footer__author .icon-brain {
  font-size: 131%;
}
/*АДАПТИВ*/
@media (min-width: 992px) {
  .btn {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .btn:hover {
    -webkit-box-shadow: 0px 29px 43px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 29px 43px 0px rgba(0, 0, 0, 0.1);
  }
  .btn_small:hover {
    -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  }
  .services__icon {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .services__link:hover .services__icon {
    background-color: #f8aa55;
    color: #965713;
    border-color: #f8aa55;
  }
  .services__link_blend {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .services__link_blend:hover {
    opacity: 1;
  }
  .employees__slide {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .employees__slide:hover {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
  }
  .employees__slide:hover .employees__position {
    display: none;
  }
  .employees__slide:hover .employees__btn {
    display: block;
  }
  .employees__arrow {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .employees__arrow:hover {
    background-color: #dedfe3;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    max-width: 992px;
  }
  .header {
    display: none;
  }
  .top-block__slide {
    padding: 300px 0 150px;
  }
  .top-block__dots {
    padding: 0 calc(50% - 481px);
  }
  .services {
    background-position: 75% center;
  }
  .advantages {
    background-position: 10% center;
  }
  .employees__slider {
    padding: 0 60px;
  }
  .employees__arrow_prev {
    left: -10px;
  }
  .employees__arrow_next {
    right: -10px;
  }
}
@media (max-width: 991px) {
  .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-block__slide {
    padding: 270px 0 120px;
  }
  .top-block__dots {
    padding: 0 15px;
    bottom: 40px;
  }
  .about {
    padding: 45px 0;
  }
  .about__wrapper {
    display: block;
  }
  .about__head {
    width: auto;
    text-align: center;
    margin: 0 0 30px;
  }
  .about__body {
    width: auto;
    padding: 0;
  }
  .services {
    background-image: none;
    text-align: center;
    padding: 45px 0;
  }
  .services__box {
    margin: 0 auto;
  }
  .services__link {
    width: 120px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 20px 50px;
  }
  .advantages {
    text-align: center;
    padding: 45px 0;
    background-image: none;
  }
  .advantages__box {
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    text-align: left;
  }
  .employees {
    padding: 45px 0;
  }
  .employees__slide {
    padding: 28px 18px 26px;
  }
  .booking {
    text-align: center;
    padding: 45px 0;
  }
  .booking__form {
    display: block;
    max-width: 260px;
    margin: 0 auto 30px;
  }
  .booking__form input {
    display: block;
    width: 100%;
    margin: 0 0 12px;
  }
  .booking__btn {
    display: block;
    width: 100%;
  }
  .contacts {
    padding: 0;
  }
  .contacts__text {
    margin: 0;
    width: auto;
  }
  .contacts__map {
    position: static;
    height: 350px;
  }
  .footer {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .top-block {
    text-align: center;
  }
  .top-block__content {
    max-width: 100%;
  }
  .employees__slider {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .reviews__box {
    padding: 0;
  }
  .contacts__text {
    padding: 30px 15px;
  }
  .footer {
    padding: 25px 0;
  }
  .footer__wrapper {
    display: block;
  }
  .footer__main {
    width: auto;
    margin: 0 0 20px;
  }
  .footer__nav,
  .footer__contacts {
    display: none;
  }
  .footer__info {
    width: auto;
  }
  .footer__payment {
    text-align: center;
  }
  .footer__policy {
    text-align: center;
    max-width: 290px;
    margin: 0 auto 2em;
  }
  .footer__policy a {
    display: block;
    margin: 0 0 1em;
  }
  .footer__author {
    text-align: center;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
  .top-block__title {
    font-size: 32px;
  }
  .services__box {
    margin: 0 -15px;
  }
  .services__link {
    margin: 0 15px 30px;
  }
  .advantages__box {
    display: block;
  }
  .advantages__item {
    width: auto;
    margin: 0 0 30px;
  }
  .advantages__item:nth-last-child(-n+2) {
    margin: 0 0 30px;
  }
}
