html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
:before,
:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /*для IE10*/
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font: normal normal 18px/1.2 'Rubik';
  letter-spacing: -0.015em;
}
header,
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
a,
input,
textarea,
button,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
a img {
  /*для IE10*/
  border: none;
}
p {
  margin: 0 0 1.4em;
}
p:last-child {
  margin: 0;
}
iframe {
  max-width: 100%;
}
em {
  font-style: inherit;
  color: #9c9b9b;
}
:focus {
  outline: none;
}
:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*элементы форм*/
/* 
select{
	appearance: none;
	padding: 10.5px 40px 10.5px 20px;
	background:url(../img/icons/angle.svg) no-repeat right 19px center/11px auto;
	&::-ms-expand{
		display:none;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder{color:gray;}
::-moz-placeholder{color:gray;}
:-ms-input-placeholder{color:gray;}

*/
[type=text],
[type=email],
[type=tel],
[type=url],
[type=password],
textarea {
  line-height: 1;
  border: 2px solid #c4c4c4;
  padding: 11px 20px;
  letter-spacing: -0.015em;
  background: none;
}
[type=text]:focus,
[type=email]:focus,
[type=tel]:focus,
[type=url]:focus,
[type=password]:focus,
textarea:focus {
  border-color: #f8aa55;
}
[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
  display: none;
}
/*кнопки*/
button,
[type="submit"],
[type="reset"] {
  cursor: pointer;
}
.btn {
  display: inline-block;
  color: #965713;
  font: normal normal 16px/48px 'Rubik';
  padding: 0 1.5em;
  min-width: 219px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f8aa55;
  border: none;
  border-radius: 10px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.btn_gray {
  background-color: #dedfe3;
  color: #000;
}
.btn_small {
  font-size: 13px;
  line-height: 37px;
  min-width: 0;
}
.btn_block {
  display: block;
  width: 100%;
  padding: 0;
}
/*заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 1.6em;
}
h2 {
  font-size: 30.5px;
  font-weight: 400;
  letter-spacing: -0.0167em;
  margin: 0 0 .8em;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 1.3em;
}
h4 {
  font-size: 16px;
  line-height: 1.125;
}
/*списки*/
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: list;
}
ol > li {
  padding-left: 2.66666667em;
  position: relative;
  margin: 0 0 1.2em;
}
ol > li:before {
  counter-increment: list;
  content: counter(list);
  line-height: 1;
  display: inline-block;
  width: 2em;
  text-align: center;
  position: absolute;
  left: 0;
  top: calc(50% - .55em);
}
/*таблицы*/
/*контейнеры*/
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
/*модификаторы*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/*ШАПКА*/
.lang {
  display: inline-block;
  position: relative;
  padding: 4px 0;
  opacity: .5;
}
.lang__title {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lang__title:before {
  content: '\e903 ';
  font-family: icomoon;
  font-size: 121.4%;
  margin: 0 7px 0 0;
  vertical-align: -2px;
}
.lang__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  width: 147px;
  padding: 14px 25px;
  color: #202020;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.lang__list img {
  width: 21px;
  -webkit-filter: grayscale(0.95);
          filter: grayscale(0.95);
  vertical-align: middle;
  margin: 0 3px 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.lang__list > li {
  margin: 0 0 6px;
}
.lang__list > li.active img {
  -webkit-filter: none;
          filter: none;
}
.lang:hover {
  opacity: 1;
}
.lang:hover .lang__list {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
.search {
  width: 233px;
  position: relative;
}
.search__input {
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 7.5px 36px 7.5px 14px;
  display: block;
  width: 100%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.search__input:focus {
  background-color: #fff;
  color: #000;
}
.search__icon {
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: absolute;
  right: 13px;
  top: calc(50% - .5em);
}
.search__input:focus + .search__icon {
  color: #000;
}
.search:hover .search__input {
  background-color: #fff;
  color: #000;
}
.search:hover .search__icon {
  color: #000;
}
.logo {
  display: inline-block;
}
.logo img {
  display: block;
  width: 100%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #282828;
  color: #fff;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0;
}
.header_trans {
  background-color: transparent;
}
.header__topline {
  padding: 32px 0 25px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.header__topline-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  display: inline-block;
  text-decoration: underline;
  margin: 0 auto 0 0;
}
.header__address {
  margin: 0 30px;
}
.header__lang {
  margin: 3px 0 0 30px;
}
.header__midline {
  padding: 36px 0 38px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.header__midline-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s linear, padding 0.2s linear;
  transition: background-color 0.2s linear, padding 0.2s linear;
}
.header__logo {
  width: 145px;
  margin: 0 43px 0 0;
}
.header__icon,
.header__menu-btn,
.header__search-btn {
  display: none;
}
.header__worktime {
  padding: 0 0 0 34px;
  position: relative;
  margin: 0 41px 0 0;
}
.header__worktime:before {
  content: '\e902';
  font: normal normal 19px/1 'icomoon';
  position: absolute;
  left: 0;
  top: calc(50% - .5em);
  opacity: .5;
}
.header__phones {
  position: relative;
  padding: 0 0 0 35px;
  margin: 0 41px 0 0;
}
.header__phones:before {
  content: '\e90a';
  font: normal normal 20px/1 'icomoon';
  position: absolute;
  left: 0;
  top: calc(50% - .5em);
  opacity: .5;
}
.header__info {
  margin: 0 45px 0 auto;
  text-align: right;
}
.header__social {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__social > li {
  display: inline-block;
  margin: 0 0 0 6.5px;
}
.header__callback {
  text-decoration: underline;
}
.header__bottomline {
  background-color: #f2f2f2;
}
.header_trans .header__bottomline {
  background: none;
}
.header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f2f2;
  color: #000;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.header__menu > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}
.header__menu > li:last-child {
  border-right: none;
}
.header__menu > li > a {
  display: block;
  width: 100%;
  padding: 1.8em .9em;
}
.header_trans .header__menu {
  border: none;
  border-radius: 10px;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background: none;
  color: #000;
}
.header.fixed .header__topline {
  display: none;
}
.header.fixed .header__midline {
  padding: 0;
}
.header.fixed .header__midline-inner {
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
  border-radius: 10px 10px 0 0;
  padding: 0 65px 0 0;
  position: relative;
}
.header.fixed .header__logo {
  display: none;
}
.header__icon {
  display: none;
  width: 146px;
  height: 76px;
  padding: 20px 0;
}
.header__icon img {
  display: block;
  height: 36px;
  width: auto;
  margin: 0 auto;
}
.header.fixed .header__icon {
  display: inline-block;
}
.header__menu-btn {
  display: none;
  width: 77px;
  background-color: #9ba5aa;
  color: #fff;
  font: normal normal 15px/76px 'icomoon';
  text-align: center;
  cursor: pointer;
  margin: 0 auto 0 0;
}
.header__menu-btn:before {
  content: '\e910';
}
.header__menu-btn.active {
  color: #f8aa55;
}
.header.fixed .header__menu-btn {
  display: inline-block;
}
.header.fixed .header__worktime {
  display: none;
}
.header.fixed .header__phones {
  width: auto;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.header.fixed .header__phones:before {
  display: none;
}
.header.fixed .header__phones br {
  display: none;
}
.header.fixed .header__phones a {
  margin: 0 0 0 1.2em;
}
.header.fixed .header__info {
  display: none;
}
.header__search-btn {
  font: normal normal 19px/1 'fontAwesome';
  color: #9ba5aa;
  cursor: pointer;
  padding: 0 .5em;
  margin: 0 25px 0 22px;
}
.header__search-btn:before {
  content: '\f002';
}
.header__search-btn.active {
  color: #f8aa55;
  pointer-events: none;
}
.header.fixed .header__search-btn {
  display: inline-block;
}
.header__mobile-search {
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: 10px 30px;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
}
.header__mobile-search input {
  display: block;
  width: 100%;
  background: none;
  padding: 8px 0;
  border: none;
}
.header__mobile-search.open {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.header.fixed .header__mobile-search {
  display: block;
}
.header.fixed .header__bottomline {
  background: none;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.header.fixed .header__bottomline.open {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}
.header.fixed .header__menu {
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
  border: none;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
}
.header.fixed .header__menu > li > a {
  padding: 1.1em .9em;
}
/*ОСНОВНОЕ СОДЕРЖИМОЕ*/
.top-block {
  color: #fff;
  position: relative;
}
.top-block .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-block__slide {
  padding: 364px 0 161px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.top-block__slide:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.top-block__slide.slick-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: auto;
  min-height: 0;
}
.top-block__slide .wrapper {
  position: relative;
  z-index: 2;
}
.top-block__content {
  max-width: 480px;
}
.top-block__title {
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 .58em;
  padding: 0 0 0 5px;
}
.top-block__text {
  padding: 0 0 0 3px;
  margin: 0 0 3.1em;
}
.top-block__dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 84px;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 0 calc(50% - 555px);
}
.top-block__dots li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin: 0 21px 0 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.top-block__dots li.slick-active {
  border-color: #f8aa55;
}
.about {
  padding: 93px 0 94px;
}
.about__wrapper {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__head {
  width: 350px;
}
.about__title {
  margin: 0 0 1em;
}
.about__btn {
  margin: 17px 0 0;
}
.about__body {
  width: 445px;
  padding: 3px 0 0;
}
.services {
  background: url(../img/dental-implants.jpg) no-repeat calc(50% + 235px) 61%, #f5f5f5;
  padding: 95px 0 68px;
}
.services__wrapper {
  max-width: 950px;
}
.services__title {
  margin: 0 0 2em;
}
.services__box {
  margin: 0 0 0 -7px;
  max-width: 550px;
}
.services__link {
  display: inline-block;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 52px 57px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.services__link_blend {
  opacity: .5;
}
.services__icon {
  display: block;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto 17px;
  color: #f8aa55;
  font-size: 35px;
  line-height: 90px;
}
.services__icon_dash {
  background-color: transparent;
  font-size: 42.2px;
  border: 2px dashed;
  line-height: 80px;
}
.advantages {
  padding: 94px 0 127px;
  background: url(../img/teeth.png) no-repeat calc(50% - 255px) calc(50%  + 75px) / 411px auto;
}
.advantages__wrapper {
  max-width: 950px;
}
.advantages__title {
  margin: 0 0 2.6em;
}
.advantages__box {
  max-width: 445px;
  margin: 0 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px 0 0;
}
.advantages__item {
  width: calc(50% - 20px);
  margin: 0 0 53px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.advantages__item:nth-last-child(-n+2) {
  margin: 0;
}
.advantages__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__subtitle:before {
  content: '\e90b';
  font: normal normal 32px/1 'icomoon';
  color: #f8aa55;
  display: inline-block;
  margin: 0 15px 0 0;
}
.employees {
  background: url(../img/circles.svg) no-repeat center, #f5f5f5;
  padding: 95px 0 120px;
}
.employees__wrapper {
  max-width: 950px;
}
.employees__title {
  text-align: center;
  margin: 0 0 1.4em;
}
.employees__slider {
  margin: 0 0 24px;
}
.employees__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 40px;
}
.employees__slide {
  padding: 28px 28px 26px;
  text-align: center;
  position: relative;
}
.employees__slide.slick-slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 0;
  height: auto;
}
.employees__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.employees__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 20px;
}
.employees__subtitle {
  margin: 0 0 .6em;
}
.employees__position {
  font-size: 13px;
  opacity: .7;
}
.employees__btn {
  display: none;
  width: 154px;
  margin: 18px auto 0;
  position: relative;
  z-index: 2;
}
.employees__arrow {
  display: inline-block;
  width: 47px;
  height: 47px;
  border: 2px solid #dedfe3;
  border-radius: 50%;
  text-align: center;
  font-family: fontAwesome;
  font-size: 16px;
  line-height: 43px;
  position: absolute;
  z-index: 2;
  top: calc(50% - 23.5px);
  cursor: pointer;
}
.employees__arrow_prev {
  left: -86px;
}
.employees__arrow_prev:before {
  content: '\f104';
}
.employees__arrow_next {
  right: -86px;
}
.employees__arrow_next:before {
  content: '\f105';
}
.employees__footer {
  text-align: center;
}
.review-card {
  width: 445px;
  margin: 0 15px 59px;
}
.review-card__text {
  padding: 20px 15px 24px 36px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  margin: 0 0 30px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}
.review-card__text:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 18px;
  border-top: 21px solid #fff;
  border-right: 30px solid transparent;
}
.review-card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-card__pic {
  width: 49px;
  height: 49px;
  background: url(../img/icons/user.svg) no-repeat center 9px/41px auto, #dedfe3;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 10px 0 0;
}
.review-card__pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.review-card__info {
  width: calc(100% - 59px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 12.82px;
}
.review-card__info a {
  display: inline-block;
  border-bottom: 1px solid #f8aa55;
}
.review-card__title {
  margin: 0 0 4px;
}
.review-card__key {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 4px 0 0;
}
@supports ((-webkit-filter: drop-shadow(0 0 10px)) or (filter: drop-shadow(0 0 10px))) {
  .review-card__text {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-filter: drop-shadow(0 0 27px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 0 27px rgba(0, 0, 0, 0.1));
  }
}
.reviews {
  padding: 95px 0 120px;
}
.reviews__wrapper {
  max-width: 1010px;
  position: relative;
  z-index: 1;
}
.reviews__title {
  text-align: center;
  margin: 0 0 1.4em;
}
.reviews__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 30px;
}
.reviews__footer {
  text-align: center;
  margin: 5px 0 0;
}
.booking {
  background-color: #f5f5f5;
  padding: 95px 0 92px;
  position: relative;
}
.booking:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 241px;
  height: 758px;
  background: url(../img/bg.png) no-repeat left bottom / contain;
}
.booking__wrapper {
  max-width: 950px;
  position: relative;
}
.booking__title {
  margin: 0 0 1.6em;
}
.booking__title strong {
  font-weight: 600;
  display: block;
}
.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.booking__form input {
  margin: 0 25px 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.booking__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.contacts {
  position: relative;
  padding: 60px 0;
}
.contacts__map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contacts__text {
  position: relative;
  z-index: 2;
  background-color: #fff;
  width: 445px;
  margin-left: calc(50% + 15px);
  padding: 34px 65px 35px;
}
.contacts__text p {
  margin: 0 0 1em;
}
.contacts__text p:last-child {
  margin: 0;
}
.contacts__title {
  margin: 0 0 1em;
}
[class*="ground-pane"] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.breadcrumbs {
  margin: 0 0 1em;
}
.breadcrumbs a {
  color: #979797;
  border-bottom: 1px solid transparent;
}
.breadcrumbs__separ {
  color: #979797;
  margin: 0 9px;
}
.page {
  padding: 343px 0 100px;
  position: relative;
  z-index: 1;
}
.page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page__sidebar {
  width: 285px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 6px 0 0;
}
.page__content {
  padding: 0 0 0 65px;
  width: calc(100% - 285px);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__content_spacer {
  padding-right: 30px;
}
.sidebar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f2f2f2;
}
.sidebar__menu a {
  display: block;
  padding: 20.7px 23px;
}
.sidebar__menu li {
  position: relative;
  border-top: 2px solid #e6e6e6;
}
.sidebar__menu li:first-child {
  border-top-color: transparent;
}
.sidebar__menu li.active:before {
  content: '';
  display: block;
  border-left: 3px solid #f8aa55;
  position: absolute;
  z-index: 1;
  left: 0;
  top: -2px;
  height: calc(100% + 4px);
}
.sidebar__menu li.active:last-child:before {
  height: calc(100% + 2px);
}
.sidebar__menu li.active > a {
  opacity: .7;
}
.text-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.text-columns:last-child {
  margin: 0;
}
.text-columns__item {
  width: calc(50% - 15px);
  margin: 0 0 1.5em;
}
.text-columns__item:nth-child(2n+1):last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.text-columns strong {
  font-weight: 600;
  text-transform: uppercase;
}
.text-block {
  margin: 0 0 3.5em;
}
.text-block:last-child {
  margin: 0;
}
.text-block u {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #f8aa55;
}
.text-block strong {
  font-weight: 600;
}
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -13px;
}
.gallery__item {
  display: inline-block;
  margin: 0 13px 1.6em;
}
.gallery__item img {
  display: block;
  /* width:100%;
      height:100%;
      .obj; */
}
.gallery__trigger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  width: 224px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #5c5c5c;
  margin: 0 13px 1.6em;
  color: #fff;
}
.gallery__trigger-text {
  font-size: 16px;
}
.gallery__trigger:before {
  content: '\e911';
  display: block;
  font: normal normal 26px/1 'icomoon';
  margin: 0 0 6px;
}
.small-map {
  width: 283px;
  height: 243px;
  max-width: 100%;
}
.file-link {
  display: block;
  font-size: 14px;
  border-radius: 10px;
  padding: 20px 20px 24px 96px;
  margin: 0 0 1.8em;
  position: relative;
}
.file-link:last-child {
  margin: 0;
}
.file-link:before {
  content: '';
  display: block;
  position: absolute;
  left: 37px;
  top: 0;
  width: 27px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.file-link[href$=".doc"]:before,
.file-link[href$=".docx"]:before {
  background-image: url(../img/icons/word.svg);
}
.file-link[href$=".pdf"]:before {
  background-image: url(../img/icons/pdf.svg);
}
.news {
  padding: 6px 0 0;
}
.news__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post-card {
  width: 355px;
  min-height: 256px;
  margin: 0 15px 35px;
  background-color: #fff;
  border: 3px solid #f2f2f2;
  font-size: 16px;
  padding: 30px 23px 25px 28px;
  position: relative;
}
.post-card_color {
  border: none;
  padding: 33px 26px 28px 31px;
  color: #fff;
}
.post-card_color:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.post-card_small {
  min-height: 0;
  padding-bottom: 37px;
}
.post-card__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.post-card__head {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 1.5em;
  position: relative;
}
.post-card__category {
  position: relative;
  z-index: 2;
}
.post-card__category i {
  font-size: 16px;
  color: #979797;
  margin: 0 5px 0 0;
}
.post-card_color .post-card__category i {
  color: inherit;
}
.post-card_color .post-card__category span {
  display: inline-block;
  border-bottom: 1px solid #f8aa55;
}
.post-card__date {
  opacity: 50%;
}
.post-card__title {
  font-size: 18px;
  line-height: 1.2;
  min-height: 2.4em;
  margin: 0 0 .8em;
  position: relative;
}
.post-card_small .post-card__title {
  min-height: 0;
}
.post-card__text {
  position: relative;
}
.pagination {
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  padding: 15px 0;
}
.pagination a {
  display: inline-block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 2px solid #dedfe3;
}
.pagination a.active {
  background-color: #dedfe3;
}
.pagination a,
.pagination span {
  margin: 0 6px;
  vertical-align: middle;
}
.simile {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: #f0f0f0;
}
.simile th {
  text-align: inherit;
  padding: 50px 40px 27px 66px;
  font-weight: 600;
  font-size: 22px;
}
.simile td:last-child,
.simile th:last-child {
  background-color: #cee0c5;
}
.simile td {
  padding: 12px 40px 12px 62px;
}
.simile tr:last-child td {
  padding-bottom: 43px;
}
.price {
  background-color: #f2f2f4;
  padding: 41px 60px 35px 53px;
}
.price__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 2px dotted #c0c0c2;
  margin: 0 0 .9em;
}
.price__key,
.price__value {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.price__key span,
.price__value span {
  background-color: #f2f2f4;
}
.price__key {
  max-width: 360px;
  padding: 0 10px 0 0;
}
.price__key span:after {
  content: '\00A0\00A0';
}
.price__value {
  padding: 0 0 0 10px;
}
.price__value span:before {
  content: '\00A0\00A0';
}
.view__head {
  border: 3px solid #f2f2f2;
  padding: 30px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.view__category {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: 14px;
  text-indent: 4px;
}
.view__category i {
  font-size: 16px;
  color: #979797;
  margin: 0 5px 0 0;
  vertical-align: text-top;
}
.view__text {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 50px 0 40px;
}
.view__title {
  display: inline;
  margin: 0;
  font-size: inherit;
}
.view__nav {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.view__arrow {
  display: inline-block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 2px solid #dedfe3;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  font: normal normal 14px/31px fontAwesome;
}
.view__arrow.prev {
  margin: 0 14px 0 0;
}
.view__arrow.prev:before {
  content: '\f104';
}
.view__arrow.next:before {
  content: '\f105';
}
.view__item {
  position: relative;
}
.view__item img {
  display: block;
  width: 100%;
}
/*слайдер до-после*/
.twentytwenty-container:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 21;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(transparent));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.twentytwenty-handle {
  width: 29px;
  height: 100%;
  background: url(../img/btn.svg) no-repeat center / contain, linear-gradient(to right, transparent 13px, #f2f2f4 13px, #f2f2f4 16px, transparent 16px);
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  display: none;
}
.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-horizontal .twentytwenty-handle:after {
  margin: 0;
  top: auto;
  bottom: 32px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 20px;
  height: auto;
  width: auto;
  background: none;
}
.twentytwenty-horizontal .twentytwenty-handle:before {
  content: 'До';
  left: auto;
  right: calc(100% + 16px);
}
.twentytwenty-horizontal .twentytwenty-handle:after {
  content: 'После';
  left: calc(100% + 16px);
}
/*ПОДВАЛ*/
.footer {
  background-color: #282828;
  color: #fff;
  font-size: 14px;
  padding: 98px 0 93px;
  letter-spacing: -0.013em;
}
.footer__wrapper {
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__main {
  width: 190px;
  margin: 2px 46px 0 0;
}
.footer__logo {
  width: 150px;
  margin: 0 0 2.1em;
}
.footer__nav {
  width: 210px;
  margin: 0 30px 0 0;
}
.footer__nav-title {
  margin: 0 0 1.1em;
}
.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.57142857;
}
.footer__menu a {
  text-decoration: underline;
}
.footer__contacts {
  width: 160px;
  margin: 0 30px 0 0;
}
.footer__contacts-title {
  margin: 0 0 1.4em;
}
.footer__info {
  width: 211px;
  margin: 0 0 0 auto;
}
.footer__info-title {
  margin: 0 0 .8em;
}
.footer__callback {
  font-size: 13px;
  position: relative;
  margin: 0 0 19px;
}
.footer__callback:before {
  content: '\e909';
  font: normal normal 13px/1 'icomoon';
  display: inline-block;
  position: absolute;
  top: calc(50% - .5em);
  right: 15px;
}
.footer__callback input {
  display: block;
  width: 100%;
  background: none;
  padding: 7px 30px 7px 15px;
}
.footer__payment {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 0 12px;
}
.footer__payment i {
  vertical-align: middle;
}
.footer__payment .icon-apple-pay {
  font-size: 140%;
  margin: 0 0 0 5px;
}
.footer__policy {
  font-size: 13px;
  margin: 0 0 3.3em;
}
.footer__policy a {
  text-decoration: underline;
}
.footer__author {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: -0.05em;
}
.footer__author i {
  color: #fff;
  margin: 0 2px;
  vertical-align: text-bottom;
}
.footer__author .icon-brain {
  font-size: 131%;
}
/*АДАПТИВ*/
@media (min-width: 992px) {
  .btn {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .btn:hover {
    color: #fff;
    -webkit-box-shadow: 0px 29px 43px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 29px 43px 0px rgba(0, 0, 0, 0.1);
  }
  .btn_small:hover {
    -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  }
  .file-link {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .file-link:before {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: inherit;
    transition: inherit;
  }
  .file-link:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.1);
  }
  .file-link:hover:before {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .services__icon {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .services__link:hover .services__icon {
    background-color: #f8aa55;
    color: #965713;
  }
  .services__link_blend {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .services__link_blend:hover {
    opacity: 1;
  }
  .services__link_blend:hover .services__icon {
    background: none;
    color: #f8aa55;
  }
  .employees__slide {
    -webkit-transition: background-color 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background-color 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    margin: 30px 0 0;
  }
  .employees__slide:hover {
    margin: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
  }
  .employees__slide:hover .employees__position {
    display: none;
  }
  .employees__slide:hover .employees__btn {
    display: block;
  }
  .employees__arrow {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .employees__arrow:hover {
    background-color: #dedfe3;
  }
  .breadcrumbs a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .breadcrumbs a:hover {
    color: #000;
    border-color: #f8aa55;
  }
  .sidebar__menu a {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .sidebar__menu a:hover {
    opacity: .7;
  }
  .post-card {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .post-card:hover {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
    border-color: transparent;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    max-width: 992px;
  }
  .header__topline {
    padding: 15px 0;
  }
  .header__midline {
    padding: 20px 0;
  }
  .header__worktime {
    display: none;
  }
  .top-block__slide {
    padding: 300px 0 150px;
  }
  .top-block__dots {
    padding: 0 calc(50% - 481px);
  }
  /* .services{
    background-position:75% center;
  }
  .advantages{
    background-position:10% center;
  } */
  .employees__slider {
    padding: 0 60px;
  }
  .employees__arrow_prev {
    left: -10px;
  }
  .employees__arrow_next {
    right: -10px;
  }
}
@media (max-width: 991px) {
  .box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
    background: none;
  }
  .header__topline {
    display: none;
  }
  .header__phones {
    display: none;
  }
  .header__info {
    display: none;
  }
  .header__midline {
    padding: 0;
  }
  .header__midline-inner {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.15);
    background-color: #f2f2f2;
    border-radius: 10px 10px 0 0;
    padding: 0 25px 0 0;
    position: relative;
  }
  .header__logo {
    display: none;
  }
  .header__icon {
    display: inline-block;
  }
  .header__menu-btn {
    display: inline-block;
  }
  .header__search-btn {
    display: inline-block;
  }
  .header__mobile-search {
    display: block;
  }
  .header__bottomline {
    background: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .header__bottomline.open {
    top: 100%;
    opacity: 1;
    pointer-events: all;
  }
  .header__menu {
    background-color: #f5f5f5;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
            box-shadow: 0px 52px 85px 0px rgba(0, 0, 0, 0.09);
  }
  .header__menu > li > a {
    padding: 1em 0;
  }
  .header_trans .header__menu {
    border-radius: 0 0 10px 10px;
  }
  .top-block__slide {
    padding: 190px 0 120px;
  }
  .top-block__dots {
    padding: 0 15px;
    bottom: 40px;
  }
  .about {
    padding: 45px 0;
  }
  .about__wrapper {
    display: block;
  }
  .about__head {
    width: auto;
    text-align: center;
    margin: 0 0 30px;
  }
  .about__body {
    width: auto;
    padding: 0;
  }
  .services {
    background-image: none;
    text-align: center;
    padding: 45px 0;
  }
  .services__box {
    margin: 0 auto;
  }
  .services__link {
    width: 120px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 0 20px 50px;
  }
  .advantages {
    text-align: center;
    padding: 45px 0;
    background-image: none;
  }
  .advantages__box {
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantages__item {
    text-align: left;
  }
  .employees {
    padding: 45px 0;
  }
  .employees__slide {
    padding: 28px 18px 26px;
  }
  .booking {
    text-align: center;
    padding: 45px 0;
  }
  .booking__form {
    display: block;
    max-width: 260px;
    margin: 0 auto 30px;
  }
  .booking__form input {
    display: block;
    width: 100%;
    margin: 0 0 12px;
  }
  .booking__btn {
    display: block;
    width: 100%;
  }
  .contacts {
    padding: 0;
  }
  .contacts__text {
    margin: 0;
    width: auto;
  }
  .contacts__map {
    position: static;
    height: 350px;
  }
  .footer {
    padding: 45px 0;
  }
}
@media (max-width: 767px) {
  .header__midline-inner {
    padding: 0;
  }
  .header__icon {
    width: 80px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 auto 0 0;
  }
  .header__btn {
    min-width: 0;
    margin: 0 auto;
  }
  .header__menu-btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-radius: 0 10px 0 0;
    margin: 0;
  }
  .header__search-btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    line-height: 76px;
    margin: 0;
    width: 75px;
    padding: 0;
    text-align: center;
  }
  .header__menu {
    display: block;
    padding: .5em 0;
    top: -100vh;
    border-radius: 0 0 10px 10px;
  }
  .header__menu > li > a {
    padding: .5em 0;
  }
  .top-block {
    text-align: center;
  }
  .top-block__content {
    max-width: 100%;
  }
  .employees__slider {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .reviews__box {
    padding: 0;
  }
  .contacts__text {
    padding: 30px 15px;
  }
  .footer {
    padding: 25px 0;
  }
  .footer__wrapper {
    display: block;
  }
  .footer__main {
    width: auto;
    margin: 0 0 20px;
  }
  .footer__nav,
  .footer__contacts {
    display: none;
  }
  .footer__info {
    width: auto;
  }
  .footer__payment {
    text-align: center;
  }
  .footer__policy {
    text-align: center;
    max-width: 290px;
    margin: 0 auto 2em;
  }
  .footer__policy a {
    display: block;
    margin: 0 0 1em;
  }
  .footer__author {
    text-align: center;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
  .header__midline .wrapper {
    padding: 0;
  }
  .header__midline-inner {
    border-radius: 0;
  }
  .header__menu-btn {
    border-radius: 0;
  }
  .header__btn {
    display: none;
  }
  .header__bottomline .wrapper {
    padding: 0;
  }
  .header__menu {
    border-radius: 0;
  }
  .header_trans .header__menu {
    border-radius: 0;
  }
  .header__mobile-search {
    border-radius: 0;
  }
  .top-block__title {
    font-size: 32px;
  }
  .services__box {
    margin: 0 -15px;
  }
  .services__link {
    margin: 0 15px 30px;
  }
  .advantages__box {
    display: block;
  }
  .advantages__item {
    width: auto;
    margin: 0 0 30px;
  }
  .advantages__item:nth-last-child(-n+2) {
    margin: 0 0 30px;
  }
}
